{{yield}}
<h1 class="title">Parks and Recreation</h1>

<ShareToTwitterBtn />
{{!-- <LocationLookup /> --}}
{{!-- <NearbyGallery /> --}}
{{!-- <Weather /> --}}
<NearbyParks
    @latitude = {{this.latitude}}
    @longitude = {{this.longitude}}
/>
