{{yield}}
<div data-test='nearby-gallery'>
  <div local-class='gallery-item'>
    <img src={{this.currentImage.url}} alt={{this.currentImage.name}} local-class='park-img' />
    <span local-class='park-name'>{{this.currentImage.name}}</span>
  </div>
</div>