<a local-class="twitter-share-button" target="_blank" rel="nonreferrer" href="https://twitter.com/intent/tweet?text=Central%20Park%20is%20insane.
  https://nypost.com/wp-content/uploads/sites/2/2018/07/central-park-conservancy.jpg?quality=80&strip=all
" data-size="large" data-test="share-to-twitter-btn">
  <i class="fab fa-twitter"></i>
  <label local-class='label'>Tweet</label>
</a>
{{yield}}